/* Consistent spacing and indentation */

* {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    margin: 0;
}

.heading {
  text-align: center;
  font-size: 2em;  
}

.subheading {
  font-size: 1em;
  text-align: center;
}

#f35 {
    height: 70vh;
  width: 90%;
}

.accesibilitytest {
  max-width: 80%;
  text-align: center;

}

/* Group related selectors */

.author {
  text-align: center;
  color: green;
  left: 50%;
  transform: translateX(-50%);
  top: 10px; /* Adjust this value as needed to position it above the image */
  width: 100%; /* Make sure it spans the full width */
}

.date {
text-align: center;
    margin-left: 4px;
  color: #A30000; 
}

/* Class names indicate purpose */

.caption-text {
  font-size: 0.8em;
  text-align: center;
}

/* Consistent naming conventions */

/* Style the navbar */

header {
    background-color: #333;
    overflow: hidden;
  }
  
  header ul {
    list-style-type: none;  
    margin: 0;
    padding: 0;
  }
  
  header li {
    float: left;
  }
  
  header li a {
    display: block; 
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  header li a:hover {
    background-color: #111;
  }
  
  /* Active link */ 
  header li .active {
    background-color: #035E3D;
  }

  ul {
    list-style-type: none;
  }