* {
    margin-left: 2vh;
}

.heading {
    text-align: left;
    font-size: 2em;
}

.subheading {
    font-size: 1em;
    text-align: left;
}

#f35 {
    height: 68vh;
    width: 86%;
}

.author {
    float: left;
    color: green;
}

.date {
    float: left;
    margin-left: 4px;
    color: red;
}

.caption-text {
    font-size: 0.8em;
    text-align: center;
}

ul li {
    padding-left: -100px;
    list-style-type: none;
    text-decoration: none;
    display: inline-block;
}

ul li a {
    color: #000;
    text-decoration: none;
}

ul li a:hover {
    opacity: 0.6;
    transition-duration: 200ms;
}