/* Resetting margins and paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  margin: 2rem; /* Adding slight margin around the body */
}

.container {
  margin: auto;
  overflow: hidden;
  padding: 0 20px;
}

/* Style the navbar */
header {
  background-color: #000;
  padding: 0.8rem 0;
}

header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header li {
  list-style-type: none;
}

header li a {
  color: #fff;
  text-decoration: none;
  padding: 0.4rem 0.8rem;
  margin: 0.4rem 0.8rem;
  transition: background-color 0.3s ease;
}

header li a:hover {
  background-color: #555;
}

header li .active {
  background-color: #035E3D;
}

.heading {
  font-size: 1.8em;
  padding: 1.2rem 0;
}

.subheading {
  font-size: 1em;
  color: #555;
}

.author, .date {
  display: inline-block;
}

.author {
  color: #444444;
  padding-right: 6px;
  margin-left: -1rem;
}

.date {
  color: #444444;
}

#zyn-image {
  width: 75%;  /* Reduced width further */
  max-height: 65vh;
  margin: 1.5rem auto; /* Centering the image */
}

.caption-text {
  font-size: 0.8em;
  color: #666;
  margin-top: -1rem;
  padding-bottom: 1rem;
}

p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  max-width: 70%; /* Adjust this as per requirement */
  height: fit-content;
  line-height: 1.6rem;
}

.subheading-two {
  text-size: 2em;
}

li {
  max-width: 70%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.accessibility-test {
  width: 800px;
}

.coding-image {
  max-width: 75%;
}

footer {
  background-color: #0e6d21;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}